.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #108052;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    height: auto;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section {
    margin-bottom: 10px;
    padding: 0px 10px
}

.menu-title {
    background: none;
    border: none;
    color: white;
    width: 100%;
    text-align: left;
    padding: 10px 5px; /* Adjusted padding */
    font-size: 1.1rem;
    /* font-weight: bold; */
    cursor: pointer;
    display: flex;
    align-items: center; /* Align icon, text, and arrow */
}

.menu-title:hover {
    opacity: 0.9;
}

.menu-icon {
    margin-right: 15px; /* Space between icon and text */
    font-size: 1.2rem;
}

.menu-text {
    flex-grow: 1; /* Pushes the arrow to the far right */
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.arrow-icon.open {
    transform: rotate(90deg);
}

.submenu {
    list-style: none;
    max-height: 0;
    padding: 0px 8px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: white;
    border-radius: 8px
}

.submenu.open {
    max-height: 200px; /* Adjust as needed */
    padding: 8px;
    padding-top: 5px;
}

.submenu-item {
    color: #333;
    margin-bottom: 5px;
    border-radius: 5px;
}

.submenu-item a {
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    color: #333;
    font-size: 0.95rem;
}

.submenu-item:hover {
    background-color: #e9ecef;
}
